.bottom {
  margin-bottom: 10px;
}

.navigation {
  margin-bottom: 60px;
}

.contentWrapper {
  min-height: 100vh;
  position: relative;
}

.footer {
  margin-top: 80px;
  height: 150px;
  background-color: grey;
}

.padding {
  padding-bottom: 60px;
}

.containerDiv {
  max-width: 800px;
}

@media (max-width: 600px) {
  .containerDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.card {
  width: 100%;
}
